- name: Cleanup of Old Content 
  ansible.builtin.file:
    path: /home/{{APPUSER}}/{{COMPONENT}}/ 
    state: absent  
  ignore_errors: true

- name: Creating App Directory
  ansible.builtin.file:
    path: /home/{{APPUSER}}/{{COMPONENT}}
    state: directory
    mode: '0755'
  become_user: "{{APPUSER}}"

- name: Download and extracting the Component 
  ansible.builtin.unarchive:
    src: http://172.31.7.10:8081/repository/{{COMPONENT}}/{{COMPONENT}}-{{APP_VERSION}}.zip
    dest: /home/{{APPUSER}}/{{COMPONENT}}/
    remote_src: yes 
  become_user: "{{APPUSER}}"

